html(lang="en")
  head
    title Welcome to Glitch!
    meta(name="description" content="A cool thing made with Glitch")
    link#favicon(rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/style.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
    script(src="/client.js" defer)
    
    
  body
    div.container
      h1 An Act relative to Health Care Quality, Cost Control, and Transparency
      p You can click inside the boxes to edit the text. Clicking "/nodegit" will permanently save the changes for all users (same funcationality as on Wikipedia)
      
      div.row
        div.col-md-4.font-weight-bold Legislative text
        div.col-md-4.font-weight-bold Plain text explanation
        div.col-md-4.font-weight-bold 10-year fiscal impact
      hr
      
      each val, ind in legTextArr
        div(id="section" + (ind + 1))
          div.font-weight-bold Section 
            span= (ind + 1)
            i.far.fa-times-circle(id="exout" + (ind + 1))
            i.fas.fa-feather-alt(id="addnew" + (ind + 1))
          div.row
            div.col-md-4.legSection(id="legSection" + ind contenteditable="true") !{val}
            div.col-md-4.plainSection(id="plainSection" + ind contenteditable="true")= plainLangArr[ind]
            div.col-md-4.fiscTenSection(id="fiscTenSection" + ind contenteditable="true")= fiscTenArr[ind]
          hr

      button#nodegit(type="submit") /nodegit
      a(href="/history")
        button /history